<div *ngIf="opcion=='buscar'" class="buscar__inicio">
    <p class="titulo">¿QUE BUSCAS?</p>
    <div class="buscar__opciones">
        <button (click)="opcion = 'tutor'" class="btn  btn-tutor mr-3">UN TUTOR</button>
        <button *ngIf="!alumno.tutor"  (click)="solicitarSerTutor()" class="btn {{(solicitudEstado=='pendiente')?'btn-success':'btn-otro '}}">
            {{(solicitudEstado!='pendiente')?'SER TUTOR':'SOLICITUD DE TUTOR ENVIADA'}}</button>
        <button *ngIf="alumno.tutor" disabled class="btn btn-success">
                YA ERES TUTOR</button>
    </div>
</div>

<div *ngIf="opcion=='tutor'" class="buscar__tutor">
    <p class="titulo"> <button (click)="opcion = 'buscar'" class="back"><i class="fas fa-arrow-left"></i></button> Busco tutor para....</p>
    
    <div class="container px-0">
        <div class="row mx-0">
            <div class="col-sm-6 p0s">
                <select name="" id="" class="custom-select" [(ngModel)]="materia_sel" (change)="getFiltroM()">
                    <option *ngFor="let materia of materias" value="" [value]="materia">{{materia}}</option>
                </select>

                <div class="lista-tutores">
                    <button *ngFor="let tutor of tutores; let i=index" class="tutor" (click)="setTutor(tutor,i)">
                        <img src="../../assets/img/{{tutor.img}}" alt="" class="tutor__foto">
                        <p class="tutor__nombre">{{tutor.nombre}}</p>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 p0s">
                <div class="tutor__info" *ngIf="nombre_tutor != ''">
                    <img src="../../assets/img/{{tutor__img}}" alt="" class="tutor__info-foto my-3">
                    <div class="tutor__info-content">
                        <p class="tutor__info-nombre">{{nombre_tutor}}<button routerLink = "/chat" ><i class="fas fa-sms"></i></button></p>
                        <p class="tutor__info-text">Carrera: <spam class="tutor__info-claro">Ingenieria en sistemas</spam></p>
                        <p class="tutor__info-text">Semestre: <spam class="tutor__info-claro">9</spam></p>
                        <p class="tutor__info-text">Materia: <spam class="tutor__info-claro">{{materia_sel}}</spam></p>
                        <button (click)="changeSol()" class="btn {{(nombre_sol)? 'tutor__info2-btn' : 'tutor__info-btn'}}">{{(nombre_sol)? 'Solicitud enviada':'Enviar solicitud'}}<i class="far fa-bell"></i></button>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>

