<div class="alta-tutores py-3 px-sm-3 px-0">
    <p class="titulo">Solicitudes de Tutores</p>

    <div *ngIf="showMsg" class="my-5">
        <p class="text-center">No hay solicitudes</p>
    </div>

    <div class="lista__tutor" >
        <div class="tutor" *ngFor="let sol of listaSolicitudes">
           
            <img *ngIf="sol.foto==1"  src="../../assets/img/mujer.png" alt="" class="tutor__foto">
            <img *ngIf="sol.foto==2"  src="../../assets/img/hombre.png" alt="" class="tutor__foto">
            <div class="tutor-info">
                <p class="perfil__text mb-1">Id: <span class="perfil__text-claro">{{sol.id}}</span></p>
                <p class="perfil__text mb-1">Nombre: <span class="perfil__text-claro">{{sol.nombre}}</span></p>
                <p class="perfil__text mb-1">Centro: <span class="perfil__text-claro">{{sol.centro}}</span></p>
                <p class="perfil__text mb-1">Semestre: <span class="perfil__text-claro">{{sol.semestre}}</span></p>
            </div>
            <div class="tutor__acciones">
                <button class="btn btn-success btn-tutor" (click)="confirmarSol(sol.id,sol.nombre)">Confirmar</button>
                <button class="btn btn-danger btn-tutor" (click)="rechazarSol(sol.id,sol.nombre)">Rechazar</button>
            </div>
        </div>
        
        

</div>
