<div class="alta-tutores py-3 px-sm-3 px-0">
    <p class="titulo">Solicitudes de Tutores</p>

    <div class="lista__tutor" >
        <div class="tutor" >
           
            <img  src="../../assets/img/mujer.png" alt="" class="tutor__foto">
            <div class="tutor-info">
                <p class="perfil__text mb-1">Id: <span class="perfil__text-claro">7654</span></p>
                <p class="perfil__text mb-1">Nombre: <span class="perfil__text-claro">ejem</span></p>
                <p class="perfil__text mb-1">Centro: <span class="perfil__text-claro">centro...</span></p>
                <p class="perfil__text mb-1">Semestre: <span class="perfil__text-claro">7</span></p>
            </div>
            <div class="tutor__acciones">
                <button class="btn btn-success btn-tutor">Confirmar</button>
                <button class="btn btn-danger btn-tutor">Rechazar</button>
            </div>
        </div>
        <div class="tutor" >
           
            <img  src="../../assets/img/hombre.png" alt="" class="tutor__foto">
            <div class="tutor-info">
                <p class="perfil__text mb-1">Id: <span class="perfil__text-claro">7654</span></p>
                <p class="perfil__text mb-1">Nombre: <span class="perfil__text-claro">ejem</span></p>
                <p class="perfil__text mb-1">Centro: <span class="perfil__text-claro">centro...</span></p>
                <p class="perfil__text mb-1">Semestre: <span class="perfil__text-claro">7</span></p>
            </div>
            <div class="tutor__acciones">
                <button class="btn btn-success btn-tutor">Confirmar</button>
                <button class="btn btn-danger btn-tutor">Rechazar</button>
            </div>
        </div>
        

</div>
