
.tutor__info-claro{font-size: 1rem; color: rgba(68, 68, 68, 0.76);}
.tutor__info-btn{background-color: rgba(255, 215, 40, 0.733);}
.tutor__info-btn:hover{background-color: rgba(201, 170, 31, 0.733);}
.tutor__info2-btn,.btn__aceptar{background-color: rgba(93, 201, 31, 0.979);;}
.tutor__info2-btn:hover,.btn__aceptar:hover{background-color: rgba(93, 201, 31, 0.733);}
.buscar__sertutor{padding: 1em;}
.borrarM{font-size: .7rem; color: white; margin-left: 1em;}
.borrarM:hover{text-decoration: none; color: tomato;}
.añadirM{color: white; padding: 0 2em;}
.añadirM:hover{text-decoration: none; color: white;}
th,td{text-align: center;}
.buscar__acciones{display: flex; justify-content: center;}
.btn__accion{margin: 0 3%;}
.btn__rechazar{background-color: rgb(248, 129, 113);;}
.btn__rechazar:hover{background-color: rgba(248, 129, 113, 0.822);;}
.btn__mensaje{background-color: rgb(55, 165, 216);}
.btn__mensaje:hover{background-color:rgba(55, 165, 216, 0.849);}
.solicitudes__table{max-height: 50vh; overflow-y: auto;}
@media only screen and (max-width: 767px) {
    .tutor__foto{height: 100px; width: 80px;}
    .lista-tutores{height: 35vh;}
    .tutor__info{margin-top: 1em; height: 30vh;overflow-y: auto;}
    .tutor__info-foto{height: 100px; width: 100px;}
}